<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>

    <br/>
    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastname"/>

    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>

    <br/>
    <label for="password">Enter password: </label>password:</label>
    <input type="text" th:field="*{password}" id="password"/>

    <br/>

    <label for="role">Role</label>
    <select name="role" id="role" multiple="multiple">
        <option value="ROLE_USER">USER</option>
        <option value="ROLE_ADMIN">ADMIN</option>
    </select>
    <br/><br/>

    <input type="submit" value="Add User"/>
</form>

</body>
</html>